<div class="container" style="padding-top: 10px;">
  <h3 style="text-align: center;">
    <i class="fas fa-list"></i> Liste des commandes
  </h3>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="bg-info">
          <th scope="col">#Reference</th>
          <th scope="col">Nom</th>
          <th scope="col">Total ( Produits )</th>
          <th scope="col">Total:Prix</th>
          <th style="text-align: center;">Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of commandes">
          <th scope="row">{{item.ref}}</th>
          <td>{{item.categorie}}</td>
          <td>{{item.produit.qtte}}</td>
          <td>{{ item.produit.prix * item.produit.qtte | number }}</td>
          <td style="text-align: center;">
            <button type="submit" class="btn btn-sm btn-secondary" (click)="goToDetallies(item.ref)" >
              <i class="fas fa-info-circle"></i>
            </button>
          </td>
        </tr>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>5</td>
          <td>24.5$</td>
          <td style="text-align: center;">
            <button type="submit" class="btn btn-sm btn-secondary">
              <i class="fas fa-info-circle"></i>
            </button>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
