<div class="container" style="padding-top: 15px;">
  <h3 style="text-align: center;">
    <i class="fas fa-plus-circle"></i> Editer mes donnees personnels
  </h3>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nom</label>
            <input class="form-control" placeholder=Nom />
          </div>
          <div class="form-group col-md-6">
            <label>Prenom</label>
            <input class="form-control" placeholder="Prenom" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputState">Adresse</label>
            <input class="form-control" placeholder="Adresse" />
          </div>
          <div class="form-group col-md-6">
            <label>Date d anniversaire</label>
            <input class="form-control" type="date" placeholder="03/12/1999" />
          </div>
        </div>
       
        <button type="submit" class="btn btn-secondary">Sauvegarder</button>
      </form>
    </div>
  </div>
</div>
