<div class="container" style="padding-top: 15px;">
  <h3 style="text-align: center;">
    <i class="fas fa-plus-square"></i> Formulaire pour ajouter une commande
  </h3>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Reference</label>
            <input class="form-control" placeholder="Ref-00000" />
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Categorie</label>
            <select id="inputState" class="form-control">
              <option selected>Choisir...</option>
              <option>Sport</option>
              <option>Fashion</option>
              <option>Web 2.0</option>
            </select>
          </div>
        </div>
        <hr />
        <br />
        <div class="form-row">
          <div class="container">
            <div class="row">
              <div class="col-md-6 bordering">
                <h6 style="text-align: center;">
                  Ajouter produit a cet commande
                </h6>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Reference</label>
                    <input class="form-control" placeholder="Ref-00000" />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Nom</label>
                    <input class="form-control" placeholder="Produit-1" />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Prix</label>
                    <input
                      class="form-control"
                      placeholder="22.00 $"
                      type="number"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Quantite</label>
                    <input class="form-control" placeholder="3" type="number" />
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary form-group col-md-6"
                  >
                    Ajouter
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <h6 style="text-align: center;">
                  Liste des produits de cette commande
                </h6>
                <table class="table table-bordered table-hover table-sm">
                  <thead>
                    <tr class="bg-info">
                      <th scope="col">#Reference</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Prix</th>
                      <th scope="col">Quantite</th>
                      <th style="text-align: center;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td style="text-align: center;">
                        <button type="submit" class="btn btn-sm btn-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td style="text-align: center;">
                        <button type="submit" class="btn btn-sm btn-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br />
        <button
          type="submit"
          class="btn btn-secondary"
          (click)="saveAndGoToList()"
        >
          Sauvegarder
        </button>
      </form>
    </div>
  </div>
</div>
<br />
